.no-padding {
  padding: 0;
}
.text-align-right {
  text-align: right;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 16px;
}
.header .navigation-links {
  display: flex;
  width: 60%;
}
.header .navigation-link {
  padding: 10px 5px;
  margin-right: 35px;
  font-size: 13px;
  padding: 13px 20px;
}
.header .navigation-link i {
  margin-right: 5px;
}
.header .navigation-link.active {
  background-color: #002b42;
  color: white;
}
.header .search-input {
  width: 40%;
}
/* header ends */

.table thead th {
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 600;
}
.listItemSelected {
  background-color: #f5f5f5;
}
.listsTable .listItemNotFoundTD {
  text-align: center;
}
.actionIcon {
  margin-right: 21px;
}
.detailsButton {
  cursor: pointer;
  color: #002b42;
  font-size: 13px;
  font-weight: 500;
}
.listItemSelected .detailsButton {
  background-color: white;
  color: #002b42;
  border-bottom: 5px solid #002b42;
  background-color: white;
  font-size: 13px;
  font-weight: 600;
}

.noDescriptionSection {
  background-color: #f5f5f5;
  margin-top: 20px;
  padding-top: 17px;
  padding-bottom: 21px;
  padding-left: 15px;
  font-size: 13px;
  margin-bottom: 35px;
}
.noDescriptionText {
  color: #7b7b7b;
  margin-right: 10px;
}
.addDescriptionText {
  color: #002b42;
  font-weight: 700;
}
.listItemDetail {
  color: #457690;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
.tableColumn {
  padding-right: 0;
}
.listNameWithoutDate {
  color: #21b1ec;
}
.actionListItem {
  color: grey;
  opacity: 0.3;
}
.listItemSelected .actionListItem {
  color: #212529;
  opacity: 1;
}
.listNameText {
  font-weight: 700;
}
.listDateTD {
  color: #a9a9a9;
  font-size: 13px;
}
.table-responsive {
  max-height: 88vh;
  overflow-y: auto;
}
.entitiesTD {
  font-size: 13px;
}
