<div class="container-fluid">
  <div class="row">
    <div class="col-12 no-padding">
      <header class="header">
        <div class="navigation-links">
          <div class="btn navigation-link active">
            <i class="fas fa-list-ul"></i> SAVED LISTS
          </div>
          <div class="btn navigation-link">
            <i class="fas fa-filter"></i> SAVED FILTERS
          </div>
          <div class="btn navigation-link">
            <i class="fas fa-history"></i> SEARCH HISTORY
          </div>
        </div>
        <input
          class="form-control search-input"
          [(ngModel)]="listNameSearchText"
          (input)="handleListNameSearchTextInputEvent()"
          placeholder="Search"
        />
      </header>
    </div>
  </div>

  <div class="row">
    <div
      class="tableColumn"
      [ngClass]="{
        'col-12': !listItemWhoseDetailsClicked,
        'col-9': listItemWhoseDetailsClicked
      }"
    >
      <div class="table-responsive">
        <table class="table listsTable">
          <thead>
            <tr>
              <th>Date</th>
              <th>List Name</th>
              <th class="text-align-right">No. of Entities</th>
              <th>Actions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngIf="lists | listFilter: listNameSearchText as filteredLists"
            >
              <tr
                *ngFor="let listItem of filteredLists"
                class="listItem"
                [ngClass]="{
                  listItemSelected:
                    listItem.id == listItemWhoseDetailsClicked?.id
                }"
              >
                <td class="listDateTD">
                  <ng-container *ngIf="listItem.date">
                    {{ listItem.date }}</ng-container
                  >
                  <i *ngIf="!listItem.date" class="far fa-circle"></i>
                </td>
                <td
                  class="listNameText"
                  [ngClass]="{ listNameWithoutDate: !listItem.date }"
                >
                  {{ listItem.name }}
                </td>
                <td class="entitiesTD text-align-right">
                  {{ listItem.entitiesCount }}
                </td>
                <td class="actionListItem">
                  <i
                    *ngIf="listItem.actions.includes('email')"
                    class="fas fa-envelope-square actionIcon"
                  ></i>
                  <i
                    *ngIf="listItem.actions.includes('share')"
                    class="fas fa-share-alt actionIcon"
                  ></i>
                  <i
                    *ngIf="listItem.actions.includes('edit')"
                    class="fas fa-pencil-alt actionIcon"
                  ></i>
                  <i
                    *ngIf="listItem.actions.includes('delete')"
                    class="fas fa-trash-alt actionIcon"
                  ></i>
                </td>
                <td (click)="handleListItemDetailsClickByUser(listItem)">
                  <span class="btn detailsButton"> Details </span>
                </td>
              </tr>
              <tr *ngIf="filteredLists.length == 0">
                <td class="listItemNotFoundTD" colspan="5">No Data Found</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col" *ngIf="listItemWhoseDetailsClicked">
      <div class="noDescriptionSection">
        <span class="noDescriptionText">No Description Yet</span>
        <span class="addDescriptionText">+ Add Description</span>
      </div>
      <div class="listItemDetailsSection">
        <div
          class="listItemDetail"
          *ngFor="let detail of listItemWhoseDetailsClicked?.details"
        >
          {{ detail }}
        </div>
      </div>
    </div>
  </div>
</div>
